#pledgelist {
	border-top: 1px solid #e9e9e9;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}

th {
	text-align: center;
	border-top: 1px solid #e9e9e9;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;	
}

.pledger_row{
	border-top: 1px solid #e9e9e9;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}

#ct {
	border:0px;
	width: 50%;
}
.ctamount, .ctname, .ctpledgers, .ctcheckbox{
	border: 0px;
}
.ctcheckbox {
	width: 1%;
}
.ctname {
	width: 10%;
}
.ctpledgers {
	width: 5%;
}
.ctamount {
	width: 10%;
}

.pledger_name {
	text-align: center;
	border-top: 1px solid #e9e9e9;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
.fund_given {
	text-align: center;
	border-top: 1px solid #e9e9e9;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
.pledger_tier {
	text-align: center;
	border-top: 1px solid #e9e9e9;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
.pledger_comment {
	text-align: center;
	border-top: 1px solid #e9e9e9;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
.pledger_contact {
	text-align: center;
	border-top: 1px solid #e9e9e9;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
.pledger_date {
	text-align: center;
	border-top: 1px solid #e9e9e9;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}